@import "/styles/config/variables";
@import "/styles/UI.module";

.Hero {
  padding: 85px 20px 55px;
  background: url("/img/decorative_bg.png") repeat;
  margin: 0 -20px;

  @media (min-width: $media-tablet) {
    background: none;
    margin: 0 20px 0 0;
    padding: 130px 0 50px;
  }

  @media (min-width: $media-tablet-landscape) {
    padding: 155px 0 66px;
  }

  @media (min-width: $media-desktop) {
    margin-right: 0;
  }
}

.Info {
  max-width: 580px;
  box-sizing: border-box;
}

.Image {
  width: 100%;
  height: auto;
  margin-bottom: 30px;

  @media (min-width: $media-tablet-landscape) {
    margin-bottom: 30px;
  }

  @media (min-width: $media-desktop) {
    margin-bottom: 18px;
  }
}

.Title {
  font-family: $font-decorative-family;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  margin-bottom: 10px;

  @media (min-width: $media-tablet) {
    font-size: 27px;
    line-height: 34px;
  }

  @media (min-width: $media-tablet-landscape) {
    font-size: 45px;
    line-height: 54px;
  }
}

.Description {
  font-size: 15px;
  line-height: 22px;
  margin: 0;

  @media (min-width: $media-tablet-landscape) {
    font-size: 18px;
    line-height: 27px;
  }
}
