@import "/styles/config/ui";

.Block {
  padding: 40px 0;

  @media (min-width: $media-tablet) {
    padding: 50px 0;
  }

  @media (min-width: $media-tablet-landscape) {
    padding: 60px 0;
  }
}

.Container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1220px;
}

.TitleH1 {
  @include ui-title-landing-h1;

  text-transform: uppercase;

  &_Decorative {
    @include ui-title-landing-h1-decorative;
  }
}

.TitleH2 {
  @include ui-title-landing-h2;
}

.TitleH3 {
  @include ui-title-landing-h3;
}

.TitleH4 {
  @include ui-title-landing-h4;
}

.Text {
  @include ui-text;

  &_Medium {
    @include ui-text-medium;
  }
}

.Link {
  @include ui-link;
}

.Decorative3 {
  @include ui-decorative-3;
}

.Decorative4 {
  @include ui-decorative-4;
}
