@import "/styles/config/variables";
@import "/styles/UI.module";

.HeroAdvantageForm {
  background: none;
  color: $color-white-bg;

  @media (min-width: $media-tablet) {
    background: $color-text-dark url("/img/decorative_bg.png") repeat;
  }
}

.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $media-tablet) {
    flex-direction: row;
  }

  @media (min-width: $media-tablet-landscape) {
    justify-content: flex-start;
  }
}

.BtnWrapper {
  margin: -5px 0;
}

.Btn {
  margin: 5px 0;
  width: 100%;
}
