@import "/styles/config/variables";
@import "/styles/UI.module";

.HeroAdvantageForm {
  background: none;
  color: $color-white-bg;
  overflow: hidden;

  @media (min-width: $media-tablet) {
    background: $color-text-dark url("/img/decorative_bg.png") repeat;
  }
}

.Container {
  width: 100%;
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

.BtnWrapper {
  margin: -5px 0;
}

.Btn {
  margin: 5px 0;
  width: 100%;
}
